.tourTitle{
  font: bold 50px Helvetica, Sans-Serif;
	color: #ffffff;
  text-align: center;
}
.tourSubTitle{
  margin-top: 5px;
  font: bold 20px Helvetica, Sans-Serif;
	color: #ffffff;
  text-align: center;
}
.boxed{
  margin: 80px 10px;
  padding: 30px;
  background-color: #AB619E;
}
.imageContainer{
  margin: auto;
  width: 30%;
}
.mapContainer{
  max-width: 100%;
  margin-right: 6%;
}
.thumbnailContainer{
  margin-left: 6%;
  margin-right: 6%;
  /*margin: auto;*/
  max-width: 100%;
}
.contentTitle{
  font: bold 35px Helvetica, Sans-Serif;
  color: black;
}
.contentSubTitle{
  font: bold 25px Helvetica, Sans-Serif;
  color: black;
}
.content{
  font: 20px Helvetica, Sans-Serif;
  color: grey;
}
.reviewContentTitle{
  font: 20px Helvetica, Sans-Serif;
  color: grey;
}
.reviewContent{
  font: 20px Helvetica, Sans-Serif;
  color: grey;
  padding-left:4em
}
.modalCal{
  width: 400px;
}
