.tourDetailContainer {
  margin-top: 5%;
}
.tourDetailContainerInfo {
  margin-top: 5%;
}
.tourTitle{
  margin-top: 20%;
  font: bold 40px Helvetica, Sans-Serif;
	color: grey;
  text-align: left;
}
.tourSubTitle{
  margin-top: 5%;
  font: 20px Helvetica, Sans-Serif;
	color: grey;
  text-align: left;
}
.imageContainer{
  margin: auto;
  width: 30%;
}
.mapContainer{
  margin-top: 10%;
  max-width: 100%;
}
.contentTitle{
  margin-top: 7%;
  font: bold 23px Helvetica, Sans-Serif;
  color: grey;
}
.content{
  font: 17px Helvetica, Sans-Serif;
  color: grey;
}
.buttonContainer{
  margin-top: 5%;
}
.reviewContainer{
  margin-top: 5%;
}
.reviewContentTitle{
  font: 18px Helvetica, Sans-Serif;
  color: grey;
}
.reviewContent{
  font: 15px Helvetica, Sans-Serif;
  color: grey;
  padding-left:4em
}
.modalCal{
  width: 800px;
}
