.tourTitle{
  font: bold 50px Helvetica, Sans-Serif;
	color: #ffffff;
  text-align: center;
}
.tourSubTitle{
  margin-top: 5px;
  font: bold 20px Helvetica, Sans-Serif;
	color: #ffffff;
  text-align: center;
}
.boxed{
  margin: 80px 10px;
  padding: 30px;
  background-color: #AB619E;
}
.thumbnailContainer{
  margin-left: 6%;
  margin-right: 6%;
  /*margin: auto;*/
  max-width: 100%;
}

.formHeader{
  font-size: 24px;
  height:40px;
  color: #AB619E;
  margin-top:2%;
}