.TourColumnContainer > .TourColumn {
    display: inline-block;
    vertical-align: top;
    width: 25%;
}

@media (max-width: 1250px) {
    .TourColumnContainer > .TourColumn {
        display: inline-block;
        vertical-align: top;
        width: 33.33%;
    }
}
@media (max-width: 950px) {
    .TourColumnContainer > .TourColumn {
        display: inline-block;
        vertical-align: top;
        width: 50%;
    }
}
@media (max-width: 600px) { /*breakpoint*/
    .TourColumnContainer > .TourColumn {
        display: block;
        width: 100%;
    }
}

.advancedSearch {
  font: bold 15px Helvetica, Sans-Serif;
  margin: 0 0;
  color: #A9A9A9;
  text-align: center;
}
