
.mainMessage{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    margin: 2% 10% 2% 10%;
	border-style: solid;
    border-width: 5px;

    height: calc(100vh - 300px);
}

.messageContacts{
	width: 25%;
}

.messageBody{
	width: 100%;

	height: calc(100vh - 300px);
}

.contactImage{
	border-radius: 33px;
	height: 58px;
}

.Conversation{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	padding: 12px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.Conversation:hover{
	background-color: rgb(220,220,220);
}
.contactInfo{
	-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
    background: #f0f0f0;
    border: none;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
}

.MainBody{
    margin-top:50px;
}