.tourTitle{
  margin-top: 5%;
  font: bold 40px Helvetica, Sans-Serif;
	color: grey;
  text-align: center;
}

.modalCal{
  width: 800px;
}

.validationError {
  color: red;
  font: bold 15px Helvetica, Sans-Serif;
}
